html, body, input, h1, h2, h3, h4, nav{
    margin: 0;
    padding: 0;
}
nav{
    width: 100%;
    height: 80px;
    background-color: #0094de;
}
    nav .Logo{
        height: 80px;
        float: left;
    }
        nav .Logo img{
            height: 100%;
        }
    nav .Menu{
        float: left;
        padding: 0 20px;
    }
        nav .Menu ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
            nav .Menu ul li {
                float: left;
                width: 100px;
                line-height: 80px;
                text-align: center;
            }
            nav .Menu ul li:hover {
                background-color: #e3e3e3;
            }
                nav .Menu ul li a{
                    text-decoration: none;
                    color: #FFFFFF;
                    font-weight: bold;
                    height: 80px;
                }
                nav .Menu ul li:hover a {
                    color: #333333;
                }
.Container{
    width: 75vw;
    margin: 0 auto;
}
    .Container h1{
        text-align: center;
        font-size: 50px;
    }
    .Container .Search{
        width: 50%;
        margin: 0 auto;
        overflow: hidden;
        height: 50px;
    }
        .Container .Search .Input{
            width: 80%;
            height: 100%;
            float: left;
        }
            .Container .Search .Input input{
                width: 100%;
                height: 100%;
                border: 0;
                background-color: #e3e3e3;
            }
        .Container .Search .Button{
            width: 15%;
            height: 100%;
            float: left;
            background-color: brown;
        }
            .Container .Search .Button button{
                width: 100%;
                height: 100%;
                padding: 0;
            }
    .Container .ListaProductos{
        width: 75%;
        margin: 20px auto;
        overflow: hidden;
    }
        .Container .ListaProductos .Producto{
            width: calc((100% - 20px) / 3);
            float: left;
            padding: 5px 10px;
        }
            .Container .ListaProductos .Producto:nth-child(odd){
                background-color: #c3c3c3;
            }
            .Container .ListaProductos .Producto:nth-child(even){
                background-color: #FFFFFF;
            }
        .Container .ListaProductos .Producto a{
            text-decoration: none;
            color: #000000:
        }
            .Container .ListaProductos .Producto .Imagen{
                width: 100%;
                height: 100px;
                text-align: center;
            }
                .Container .ListaProductos .Producto .Imagen img{
                    height: 100%;
                }
            .Container .ListaProductos .Producto .Titulo{
                text-align: center;
            }
            .Container .ListaProductos .Producto .Precio{
                text-align: center;
                font-size: 19px;x
            }